.header {
    position: relative;
    padding: 28px 0;
    /*.container  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }*/
    .nav-holder {
        @include animate(opacity visibility, 0.4s);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        min-height: 500px;

        @include media('>=768px') {
            min-height: 100%;
            position: static;
            align-items: center;
            padding: 0;
            box-shadow: none;
            opacity: 1;
            visibility: visible;
            justify-content: space-between;
            width: calc(100% - 200px);
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.nav-list   {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    @include media('>=768px') {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
}

.nav-item   {
    padding: 0  15px;
    text-align: center;
}

.nav-link   {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1D1F2E;
    transition: opacity ease-in-out 0.3s;

    &:hover {
        opacity: 0.7 ;
    }
}

.cart-link  { 
    display: flex;
    align-items: center;

    span {
        display: block;
        padding: 0  10px;
    }

    .cart-count {
        background-color: #1D1F2E;
        border-radius: 50%;
        font-size: 11px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        height: 18px;
        min-width: 20px;
        padding-left: 5px;
        padding-right: 3px;
    }
}

.nav-opener {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    width: 30px;
    height: 25px;
    float: right;

    @include media('>=768px') {
        display: none;
    }

    &.active {
        span {
            opacity: 0;
            visibility: hidden;
        }

        &::before {
            transform: rotate(-45deg);
            top: 47%;
        }

        &::after  {
            transform: rotate(45deg);
            bottom: 50%;
        }
    }

    span,
    &::before,
    &::after {
        @include animate(all, 0.4s);
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: black;
        left: 0;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    span {
        top: 50%;
        transform: translateY(-50%);

    }
    
}
